{
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": "standard",
  "globals": {
    "JSON": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always", {
      "objectsInObjects": false
    }],
    "max-len": ["error", 120],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-skipped-tests": "error",
    "mocha/no-pending-tests": "error"
  }
}
